{deps, [
        {leptus, ".*", {git, "git://github.com/s1n4/leptus.git", {branch, "master"}}},
         {gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp.git", {branch, "master"}}},
         {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}
       ]}.
{cover_enabled, true}.